<a href="https://colab.research.google.com/github/SruthiSathya/Data-Challenges/blob/master/ANN_for_adult_income_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ANN for classification of Adult Income slab 
Key words : One hot encoding, ANN

In [1]:
from google.colab import files 
data = files.upload()

Saving adult.csv to adult.csv

In [2]:
import pandas as pd 


headers = ["Age", "Work_class", "fnlwgt", "education", "education_num", "marital_status", 
           "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss", 
           "hours_per_week", "native_country", "Income_class"]

data = pd.read_csv("adult.csv", names = headers  )
data.head()

   Age         Work_class  fnlwgt  ... hours_per_week  native_country Income_class
0   39          State-gov   77516  ...             40   United-States        <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States        <=50K
2   38            Private  215646  ...             40   United-States        <=50K
3   53            Private  234721  ...             40   United-States        <=50K
4   28            Private  338409  ...             40            Cuba        <=50K

[5 rows x 15 columns]

In [0]:
# convert categorical feature into dummy variables  ; The next 2 cells are all abt One hot encoding of cat variables. OHE is better than LE 

Work_class=pd.get_dummies(data['Work_class'],drop_first=True)
education=pd.get_dummies(data['education'],drop_first=True)
marital_status=pd.get_dummies(data['marital_status'],drop_first=True)
occupation=pd.get_dummies(data['occupation'],drop_first=True)
relationship=pd.get_dummies(data['relationship'],drop_first=True)
race=pd.get_dummies(data['race'],drop_first=True)
sex=pd.get_dummies(data['sex'],drop_first=True)
native_country=pd.get_dummies(data['native_country'],drop_first=True)
Income_class=pd.get_dummies(data['Income_class'],drop_first=True)

In [0]:
#concatenate the remaining dummies columns
X=pd.concat([data,Work_class,education,marital_status,occupation,relationship,race,sex,native_country,Income_class],axis=1)

#drop the columns as it is no longer required

fdata=X.drop(["Work_class",  "education", "marital_status", 
           "occupation", "relationship", "race", "sex",
           "native_country", "Income_class"],axis=1)

In [0]:
ncols = fdata.shape[1]

X = fdata.iloc[:, 0:ncols-1]
Y = fdata.iloc[:, ncols-1:ncols]

fdata.head()

In [0]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)
X_train.shape

In [0]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(activation="relu", input_dim=100, units=6, kernel_initializer="uniform"))

# Adding the second hidden layer
classifier.add(Dense(activation="relu", units=6, kernel_initializer="uniform"))

# Adding the output layer
classifier.add(Dense(activation="sigmoid", units=1, kernel_initializer="uniform"))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 10)

# Part 3 - Making the predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)
print(accuracy )