<a href="https://colab.research.google.com/github/SruthiSathya/Data-Challenges/blob/master/Multi_class_prediction_problem_and_MAE_evaluation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Prediction in cars 

## Tried solving a multiclass regression problem using Lasso reg to check if it gives lesser MAE than NN

In [0]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

from sklearn.metrics import mean_absolute_error

In [2]:
dataset_path = keras.utils.get_file("auto-mpg.data", "http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data")
dataset_path
column_names = ['MPG','Cylinders','Displacement','Horsepower','Weight',
                'Acceleration', 'Model Year', 'Origin']
raw_dataset = pd.read_csv(dataset_path, names=column_names,
                      na_values = "?", comment='\t',
                      sep=" ", skipinitialspace=True)

dataset = raw_dataset.copy()
dataset.tail()

Downloading data from http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data
32768/30286 [================================] - 0s 2us/step

      MPG  Cylinders  Displacement  ...  Acceleration  Model Year  Origin
393  27.0          4         140.0  ...          15.6          82       1
394  44.0          4          97.0  ...          24.6          82       2
395  32.0          4         135.0  ...          11.6          82       1
396  28.0          4         120.0  ...          18.6          82       1
397  31.0          4         119.0  ...          19.4          82       1

[5 rows x 8 columns]

In [3]:
dataset.isnull().sum()

dataset = dataset.dropna()
dataset.isnull().sum()

MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model Year      0
Origin          0
dtype: int64

In [4]:
ncols = dataset.shape[1]
x = dataset.iloc[:,1:]
y = dataset.iloc[:,:1]
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.20,random_state=0)
train_y.astype("int")

     MPG
220   33
256   20
301   34
193   24
57    24
..   ...
325   44
194   22
118   24
48    18
174   18

[313 rows x 1 columns]

In [0]:
scaler = StandardScaler()
scaler.fit(train_x)
train_x = scaler.transform(train_x)
test_x = scaler.transform(test_x)

In [9]:
regr = Lasso()

regr.fit(train_x, train_y)

      MPG
146  28.0
282  22.3
69   12.0
378  38.0
331  33.8

In [20]:

prediction = regr.predict(test_x)
#print(prediction )
df = pd.DataFrame( {"MPG": prediction} )



mean_absolute_error(test_y, df,  sample_weight=None, multioutput='uniform_average')

2.6030933321883296