<a href="https://colab.research.google.com/github/SruthiSathya/Data-Challenges/blob/master/Titanic_survival_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Titanic data challenge 

Overview
The data has been split into two groups:

training set (train.csv)
test set (test.csv)
The training set should be used to build your machine learning models. For the training set, we provide the outcome (also known as the “ground truth”) for each passenger. Your model will be based on “features” like passengers’ gender and class. You can also use feature engineering to create new features.

The test set should be used to see how well your model performs on unseen data. For the test set, we do not provide the ground truth for each passenger. It is your job to predict these outcomes. For each passenger in the test set, use the model you trained to predict whether or not they survived the sinking of the Titanic.

We also include gender_submission.csv, a set of predictions that assume all and only female passengers survive, as an example of what a submission file should look like.

Data Dictionary
Variable	Definition	Key
survival	Survival	0 = No, 1 = Yes
pclass	Ticket class	1 = 1st, 2 = 2nd, 3 = 3rd
sex	Sex	
Age	Age in years	
sibsp	# of siblings / spouses aboard the Titanic	
parch	# of parents / children aboard the Titanic	
ticket	Ticket number	
fare	Passenger fare	
cabin	Cabin number	
embarked	Port of Embarkation	C = Cherbourg, Q = Queenstown, S = Southampton
Variable Notes
pclass: A proxy for socio-economic status (SES)
1st = Upper
2nd = Middle
3rd = Lower

age: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

sibsp: The dataset defines family relations in this way...
Sibling = brother, sister, stepbrother, stepsister
Spouse = husband, wife (mistresses and fiancés were ignored)

parch: The dataset defines family relations in this way...
Parent = mother, father
Child = daughter, son, stepdaughter, stepson
Some children travelled only with a nanny, therefore parch=0 for them.

In [4]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import files
import seaborn as sns

uploaded = files.upload()

Saving train.csv to train (1).csv

In [30]:
pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.2MB/s
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.0.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.15.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [128]:
df = pd.read_csv("train.csv")

#finding the number of cols and listing the col names
ncols = df.shape[1]
print(ncols)
df.columns

12

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [129]:
df.head()
cat_cols = ['Name','Sex',"Cabin","Embarked","Ticket"]
oe = ce.OrdinalEncoder(cols = cat_cols)
fdata = oe.fit_transform(df)
fdata.head()
'''
print(fdata.corr())
sns.pairplot(fdata)
'''

'\nprint(fdata.corr())\nsns.pairplot(fdata)\n'

In [130]:
fdata.shape
fdata.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         0
dtype: int64

In [131]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
dff = imputer.fit_transform(fdata)


'''
median_age = fdata.Age.mean()
#print(median_age)
fdata['Age'].fillna(median_age, inplace=True) 
'''

df1 = pd.DataFrame(data=dff)
df1.columns

RangeIndex(start=0, stop=12, step=1)

In [0]:
df1.columns = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [0]:
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestClassifier
from sklearn import linear_model 
from sklearn.metrics import accuracy_score

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import RidgeClassifier
from sklearn.linear_model import Lasso
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

ncols = df1.shape[1]

x = df1[ ['Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']]
y = df1['Survived']
train_x,test_x,train_y,test_y = train_test_split(x, y, test_size = 0.20, random_state = 0)

In [158]:
regr = GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

regr.fit(train_x,train_y.values.ravel())

prediction = regr.predict(test_x)
#print(prediction  )
print(regr, "\n","Accuracy score = ",accuracy_score(prediction.round(), test_y, normalize=True)*100)
#print("Confusion matrix \n",confusion_matrix(prediction.round(), test_y))
#print("Classification report \n",classification_report(prediction.round(), test_y))

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)
 Accuracy score =  83.79888268156425

In [59]:
from google.colab import files

uploaded = files.upload()

Saving test.csv to test.csv

In [147]:
op = pd.read_csv("test.csv")
op.head()

op.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [148]:
mean_age = op.Age.mean()
print(mean_age)
op['Age'].fillna(mean_age, inplace=True) 
op.isnull().sum()

30.272590361445783

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [149]:
mean_fare = op.Fare.mean()
print(median_fare)
op['Fare'].fillna(mean_fare, inplace=True) 
op.isnull().sum()

35.57653540669853

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [150]:

op['Cabin'].value_counts()

B57 B59 B63 B66    3
C89                2
C116               2
C23 C25 C27        2
E34                2
                  ..
D28                1
E50                1
D40                1
D30                1
C62 C64            1
Name: Cabin, Length: 76, dtype: int64

ModeResult(mode=array(['B57 B59 B63 B66'], dtype=object), count=array([3]))

In [151]:
catt_colss = ['Name','Sex',"Cabin","Embarked","Ticket"]
oe = ce.OrdinalEncoder(cols = cat_cols)
op = oe.fit_transform(op)
op.head()

   PassengerId  Pclass  Name  Sex  ...  Ticket     Fare  Cabin  Embarked
0          892       3     1    1  ...       1   7.8292      1         1
1          893       3     2    2  ...       2   7.0000      1         2
2          894       2     3    1  ...       3   9.6875      1         1
3          895       3     4    1  ...       4   8.6625      1         2
4          896       3     5    2  ...       5  12.2875      1         2

[5 rows x 11 columns]

In [0]:
opp = op[ ['Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']]

In [153]:
regr.predict(opp)

array([0.10285714, 0.60857143, 0.26571429, 0.11142857, 0.67428571,
       0.26428571, 0.63857143, 0.16142857, 0.87285714, 0.09142857,
       0.07      , 0.30857143, 0.94142857, 0.26142857, 0.97      ,
       0.82857143, 0.39142857, 0.16571429, 0.78      , 0.83857143,
       0.24571429, 0.49142857, 0.93714286, 0.28857143, 0.92285714,
       0.41142857, 0.89714286, 0.13571429, 0.46142857, 0.13285714,
       0.23714286, 0.10142857, 0.5       , 0.51428571, 0.41714286,
       0.27285714, 0.6       , 0.67      , 0.19285714, 0.40857143,
       0.24857143, 0.5       , 0.14428571, 0.75285714, 0.91285714,
       0.03      , 0.30428571, 0.17714286, 0.95571429, 0.55142857,
       0.19285714, 0.14571429, 0.93571429, 0.94142857, 0.10714286,
       0.02428571, 0.07428571, 0.11857143, 0.12714286, 0.99571429,
       0.25571429, 0.15857143, 0.25      , 0.82714286, 0.26428571,
       0.94571429, 0.83571429, 0.12285714, 0.27857143, 0.93571429,
       0.81857143, 0.05571429, 0.60285714, 0.3       , 0.99714286,
       0.23285714, 0.17857143, 0.85142857, 0.23142857, 0.82      ,
       0.72142857, 0.13      , 0.20285714, 0.24857143, 0.33142857,
       0.19714286, 0.80857143, 0.66857143, 0.6       , 0.81285714,
       0.57285714, 0.38      , 0.95571429, 0.09571429, 0.09857143,
       0.30857143, 0.96      , 0.13285714, 0.79142857, 0.01      ,
       0.99142857, 0.11      , 0.33428571, 0.31285714, 0.65428571,
       0.18857143, 0.15142857, 0.38142857, 0.18714286, 0.19285714,
       0.04142857, 0.40571429, 0.99714286, 0.74857143, 0.96857143,
       0.23428571, 0.32714286, 0.71285714, 0.12      , 0.98571429,
       0.94857143, 0.35285714, 0.98714286, 0.26571429, 0.37571429,
       0.57571429, 0.34      , 0.49571429, 0.08      , 0.07571429,
       0.11      , 0.09      , 0.25714286, 0.20571429, 0.11142857,
       0.09285714, 0.23142857, 0.14285714, 0.48      , 0.06      ,
       0.21      , 0.61714286, 0.10285714, 0.18714286, 0.35142857,
       0.17285714, 0.11428571, 0.09714286, 0.32      , 0.13      ,
       0.93428571, 0.12571429, 0.04571429, 0.35      , 0.14142857,
       0.07714286, 0.94857143, 0.81571429, 0.38285714, 0.34857143,
       0.48428571, 0.75      , 0.85      , 0.13285714, 0.04714286,
       0.80571429, 0.11142857, 0.15571429, 0.87285714, 0.39714286,
       0.07857143, 0.24714286, 0.09571429, 0.08571429, 0.06285714,
       0.82857143, 0.83      , 0.08285714, 0.77      , 0.68571429,
       0.10142857, 0.47428571, 0.80428571, 0.1       , 0.87571429,
       0.12714286, 0.82857143, 0.38857143, 0.19142857, 0.1       ,
       0.09428571, 0.33714286, 0.67      , 0.10142857, 0.64285714,
       0.07142857, 0.75      , 0.75      , 0.26857143, 0.33571429,
       0.65714286, 0.95142857, 0.38428571, 0.73      , 0.29      ,
       0.34428571, 0.53714286, 0.27428571, 0.96      , 0.20142857,
       0.21857143, 0.05857143, 0.30142857, 0.85714286, 0.47      ,
       0.49142857, 0.43285714, 0.21428571, 0.96285714, 0.16285714,
       0.92571429, 0.25857143, 0.80571429, 0.32285714, 0.91571429,
       0.43857143, 0.24142857, 0.22      , 0.10714286, 0.06142857,
       0.19142857, 0.98857143, 0.06142857, 0.05571429, 0.52142857,
       0.18285714, 0.24571429, 0.07285714, 0.74714286, 0.97428571,
       0.91      , 0.91      , 0.37285714, 0.11857143, 0.17428571,
       0.47      , 0.94285714, 0.12428571, 0.97571429, 0.52      ,
       0.38      , 0.22285714, 0.43571429, 0.14428571, 0.13571429,
       0.02857143, 0.07      , 0.20571429, 0.84285714, 0.26285714,
       0.08      , 0.23714286, 0.98857143, 0.68714286, 0.18571429,
       0.19571429, 0.21      , 0.12142857, 0.20142857, 0.32285714,
       0.08857143, 0.19571429, 0.98857143, 0.65428571, 0.13142857,
       0.98142857, 0.24      , 0.17285714, 0.26285714, 0.31857143,
       0.34285714, 0.97285714, 0.28571429, 0.57142857, 0.88285714,
       0.14428571, 0.17285714, 0.14      , 0.19428571, 0.36      ,
       0.20857143, 0.36285714, 0.07857143, 0.21714286, 0.17857143,
       0.11285714, 0.34857143, 0.11571429, 0.12571429, 0.21285714,
       0.16714286, 0.17714286, 0.16857143, 0.12714286, 0.37      ,
       0.88428571, 0.30714286, 0.94      , 0.2       , 0.24142857,
       0.22142857, 0.06571429, 0.03714286, 0.46571429, 0.99428571,
       0.68857143, 0.17714286, 0.24142857, 0.11285714, 0.07285714,
       0.14714286, 0.15428571, 0.23428571, 0.40142857, 0.99428571,
       0.03      , 0.99857143, 0.17285714, 0.10285714, 0.22714286,
       0.94      , 0.15857143, 0.04142857, 0.79142857, 0.11714286,
       0.24857143, 0.14      , 0.15714286, 0.09857143, 0.04285714,
       0.20571429, 0.09      , 0.13285714, 0.96428571, 0.17285714,
       0.80857143, 0.18285714, 0.82714286, 0.15857143, 0.90714286,
       0.98142857, 0.12428571, 0.13285714, 0.10857143, 0.77142857,
       0.23      , 0.98571429, 0.12142857, 0.04571429, 0.68714286,
       0.11428571, 0.99142857, 0.95285714, 0.22428571, 0.99142857,
       0.20142857, 0.10857143, 0.34428571, 1.        , 0.19285714,
       0.26      , 0.99714286, 0.22142857, 0.34857143, 0.95857143,
       0.99285714, 0.35714286, 0.28857143, 0.18571429, 0.31142857,
       0.07714286, 0.13142857, 0.23428571, 0.72714286, 0.16142857,
       0.99      , 0.15428571, 0.19714286, 0.27571429, 0.39      ,
       0.45571429, 0.94285714, 0.47571429, 0.30285714, 0.14714286,
       1.        , 0.04714286, 1.        , 0.09      , 0.06142857,
       0.87      , 0.19428571, 1.        , 0.23857143, 0.46285714,
       0.52857143, 0.17428571, 0.21428571, 0.21428571, 0.66571429,
       0.17571429, 1.        , 0.32285714, 0.19857143, 0.99714286,
       0.14142857, 0.20142857, 0.19142857])

In [154]:
ids = op['PassengerId']
predictions = regr.predict(opp).astype(int)

#set the output as a dataframe and convert to csv file named submission.csv
output = pd.DataFrame({ 'PassengerId' : ids, 'Survived': predictions })
output.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

In [0]:
from google.colab import files
output.to_csv('sssubmission.csv', index=False)
files.download("sssubmission.csv")